/* 1248px */
@media (max-width: 78em) {
  .output-content,
  .input-content {
    max-width: 100rem;
  }

  .text-row,
  .output-title {
    font-size: 4rem;
  }

  .output-data {
    font-size: 2.4rem;
  }

  .submit-btn {
    font-size: 2.6rem;
    padding-inline: 10rem;
    padding-block: 2rem;
  }
}

/* 1024px */
@media (max-width: 64em) {
  .output-content,
  .input-content {
    padding: 2.8rem;
  }

  .text-row,
  .output-title {
    font-size: 3.8rem;
  }

  .input-lines {
    gap: 6rem;
  }

  .output-data {
    font-size: 2.2rem;
  }

  .submit-btn {
    font-size: 2.4rem;
    padding-inline: 9rem;
    padding-block: 1.8rem;
  }
}

/* 928px */
@media (max-width: 58em) {
  .output-content,
  .input-content {
    padding: 2.6rem;
  }

  .text-row,
  .output-title {
    font-size: 2.8rem;
  }

  .input-lines {
    gap: 4rem;
  }

  .output-data {
    font-size: 2rem;
  }

  .submit-btn {
    font-size: 1.8rem;
    padding-inline: 6rem;
    padding-block: 1.4rem;
  }
}

/* 720px */
@media (max-width: 45em) {
  .output-content,
  .input-content {
    padding: 1.6rem;
  }

  .text-row,
  .output-title {
    font-size: 2rem;
  }

  .input-lines {
    gap: 3rem;
  }

  .output-data {
    font-size: 1.8rem;
  }

  .submit-btn {
    font-size: 1.2rem;
    padding-inline: 4rem;
    padding-block: 1rem;
  }
}

/* 512px */
@media (max-width: 32em) {
  .output-content,
  .input-content {
    padding: 1.2rem;
  }

  .text-row,
  .output-title {
    font-size: 1.4rem;
  }

  .output-lines {
    gap: 1.6rem;
  }

  .output-data {
    font-size: 1.2rem;
  }

  .input-lines {
    gap: 2rem;
  }

  .submit-btn {
    font-size: 1rem;
    padding-inline: 4rem;
    padding-block: 1rem;
  }
}

/* 384px */
@media (max-width: 24em) {
  .output-content,
  .input-content {
    padding: 1rem;
  }

  .text-row,
  .output-title {
    font-size: 1.2rem;
  }

  .output-data {
    font-size: 1rem;
  }

  .input-lines {
    gap: 1.6rem;
  }

  .submit-btn {
    font-size: 1rem;
    padding-inline: 3.6rem;
    padding-block: 0.8rem;
  }
}
